<footer>
  <nav>
    <ul>
      <li><span>Hosted on <a href="{{ site.github.repository_url }}">GitHub</a></span> </li>
    </ul>
    <ul id="build">
      <li><a href="#top">top</a></li>
      {% assign updated = site.github.public_repositories | where: "html_url", site.github.repository_url | first | map: "updated_at" | first | date_to_xmlschema %}
      {%- assign text = site.github.build_revision | slice: 0, 7 -%}
      <li><span><i>{% include widgets/datetime.html datetime=updated text=text %}</i></span></li>
    </ul>
  </nav>
</footer>