<!-- jQuery v3.3.1 https://github.com/jquery/jquery -->
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>

<!-- Lz-Sting 1.4.4 https://github.com/pieroxy/lz-string -->
<script src="{{ '/assets/js/lz-string.js' | relative_url }}"></script>

<!-- js-yaml.js 3.13.1 https://github.com/nodeca/js-yaml -->
<script src="{{ 'assets/js/js-yaml.min.js' | relative_url }}"></script>

<!-- jquery.serializeJSON 2.9.0 https://github.com/marioizquierdo/jquery.serializeJSON -->
<script src="{{ 'assets/js/jquery.serializejson.js' | relative_url }}"></script>

<!-- Custom script -->
<script src="{{ '/assets/js/script.js' | relative_url }}?updated_at={{ 'now' | date: '%s' }}" defer></script>