{%- if include.schema -%}
{%- assign schema = include.schema -%}
{%- assign file = schema.file -%}
{%- if site.data[file] -%}
{% assign summary = "Show " | append: site.data[file].size | append: " entries" %}
{% if include.collapsed %}{% include widgets/collapsed.html summary=summary open=true %}{% endif %}
{% assign data = site.data[file] | sort: "date" %}
{%- assign now = "now" | date: "%s" -%}
{%- assign unit = "day,week,month,year" | split: "," -%}
{%- assign seconds = "" | split: "" | push: 86400 | push: 604800 | push: 2592000 | push: 31536000 -%}
{%- assign future_dates = "" | split: "" -%}
{%- assign used_items = "" | split: "" -%}
{%- assign exception = schema.properties.date.repeat.exception -%}
{% for item in data %}
  {%- assign repeat_value = schema.properties.date.repeat.value -%}
  {%- assign repeat_unit = schema.properties.date.repeat.unit -%}
  {%- assign found = 0 -%}
  {%- assign counter = 0 -%}
  {% for cond in exception %}
    {%- capture prop -%}{{ cond[0] }}{%- endcapture -%}
    {% if prop != "value" and prop != "unit" %}
      {%- assign counter = counter | plus: 1 -%}
      {% if item[prop] == cond[1] %}
        {%- assign found = found | plus: 1 -%}
      {% endif %}
    {% endif %}
  {% endfor %}
  {%- if found == counter -%}
    {%- assign repeat_value = exception.value | default: repeat_value -%}
    {%- assign repeat_unit = exception.unit | default: repeat_unit -%}
  {%- endif -%}
  {%- assign date = item.date | date: "%s" -%}
  {%- if unit contains repeat_unit and repeat_value > 0 and now > date -%}
    {% for u in unit %}
      {%- if u == repeat_unit -%}
        {%- assign gap = seconds[forloop.index0] | times: repeat_value -%}
        {%- assign cycles = now | minus: date | divided_by: gap -%}
        {% for i in (0..cycles) %}
          {%- assign date = date | plus: gap | append: "" -%}
        {% endfor %}
        {%- assign future_dates = future_dates | push: date -%}
      {%- endif -%}
    {% endfor %}
  {%- else -%}
    {%- assign future_dates = future_dates | push: date -%}
  {%- endif -%}
{% endfor %}
{%- assign future_dates_sorted = future_dates | sort -%}
<table>
  {% if include.filters %}<caption>{% include time/filters.html data=data year=include.year month=include.month %}</caption>{% endif %}
  <thead>
    <tr>
      {% for property in schema.properties %}{% unless property[1].type == "hidden" %}<th>{{ property.title | default: property[0] }}</th>{% endunless %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
{% for next_date in future_dates_sorted %}
  {%- assign first = forloop.first -%}
  {%- assign single = 0 -%}
  {% for j in future_dates %}
    {%- if j == next_date and single == 0 -%}{%- unless used_items contains forloop.index0 -%}
      {%- assign item = data[forloop.index0] -%}
      {%- assign single = 1 -%}
      {%- assign next_date_iso = next_date | date: "%F" -%}
      {%- assign used_items = used_items | push: forloop.index0 -%}
    {%- endunless -%}{%- endif -%}
  {% endfor %}
<tr data-timestamp="{{ item.timestamp | last }}" data-date="{{ item.date }}" class="data">
  {% for property in schema.properties %}
    {%- if property[0] != "timestamp" -%}
      {%- assign object = nil -%}
      {% for i in item %}{%- if i[0] == property[0] -%}{%- assign object = i -%}{%- endif -%}{% endfor %}
      <td {% include time/style.html schema=schema property=object %}>
        {%- if property[0] == "date" -%}
          {%- assign property_date = next_date_iso -%}
          {% if first %}<mark>{% endif %}
  {% include widgets/datetime.html datetime=property_date embed=true decimals=1 time=schema.properties.date.time %}
  {% if first %}</mark>{% endif %}
        {%- else -%}
          {% if object[1].first %}{% for obj in object[1] %}{{ obj[1] }} {% endfor %}{% else %}{{ object[1] }}{% endif %}
        {%- endif -%}
      </td>
    {%- endif -%}
  {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% if include.collapsed %}{% include widgets/collapsed.html close=true %}{% endif %}
{%- else -%}
<mark>No data found</mark>
{%- endif -%}
{%- else -%}
<mark>No schema supplied</mark>
{%- endif -%}