{%- if include.schema -%}
{% assign file = include.schema.file %}
{%- if site.data[file] -%}
{% comment %} prepare {% endcomment %}
{%- assign data = site.data[file] | sort: "date" -%}
{%- assign now = "now" | date: "%s" -%}
{%- assign day = 60 | times: 60 | times: 24 -%}
{%- assign week = day | times: 7 -%}
{%- assign in_one_week = now | minus: week | date: "%Y-%m-%d" -%}
{%- assign start = data.first.date | date: "%s" -%}
{%- assign end = data.last.date | date: "%s" -%}
{%- assign total_days = end | minus: start | divided_by: 60 | divided_by: 60 | divided_by: 24 -%}
{% comment %} events {% endcomment %}
**By property**
{% comment %} property {% endcomment %}
{%- assign by_property = data | group_by: include.property -%}
{% include widgets/table_bars.html data=by_property max=total_days %}
{% comment %} group {% endcomment %}
**By year**
{% assign years = data | group_by_exp: "item", "item.date | truncate: 4, ''" | reverse %}
{% include widgets/table_bars.html data=years max=356 %}
**By month**
{% for month in (1..12) %}
{% assign month_string = "0" | append: month | slice: -2, 2 %}
*{{ "1971-" | append: month_string | append: "-01" | date: "%B" }}*
{% assign exp = "item.date contains '-" | append: month_string | append: "-'" %}
{%- assign filter_months = data | where_exp: "item", exp -%}
{%- assign month_stats = filter_months | group_by_exp: "item", "item.date | truncate: 4, ''" | reverse -%}
{% include widgets/table_bars.html data=month_stats max=30 %}
{% endfor %}
{% comment %} end {% endcomment %}
{%- else -%}
<mark>No data found</mark>
{%- endif -%}
{%- else -%}
  <mark>No schema supplied</mark>
{%- endif -%}