{%- if include.schema -%}
{% assign file = include.schema.file %}
{%- if site.data[file] -%}
{% assign summary = "Show " | append: site.data[file].size | append: " entries" %}
{% if include.collapsed %}{% include widgets/collapsed.html summary=summary open=true %}{% endif %}
{% assign data = site.data[file] | sort: "date" %}
{% assign first_event = data[0].date | date:"%s" %}
{% assign now = "now" | date: "%s" %}
{% if first_event < now %}{% assign data = site.data[file] | sort: "date" | reverse %}{% endif %}
<table>
  <thead>
    <tr>
      {% for property in include.schema.properties %}<th>{{ property.title | default: property[0] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
{% for item in data %}<tr data-timestamp="{{ item.timestamp | last }}" data-date="{{ item.date }}">
  {% for property in item %}{% if property[0] != "timestamp" %}<td>{% if property[0] == "date" %}{% assign property_date = property[1] %}{% include widgets/datetime.html datetime=property_date embed=true decimals=1 time=include.schema.properties.date.time %}{% else %}{{ property[1] }}{% endif %}</td>{% endif %}{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% if include.collapsed %}{% include widgets/collapsed.html close=true %}{% endif %}
{%- else -%}
<mark>No data found</mark>
{%- endif -%}
{%- else -%}
<mark>No schema supplied</mark>
{%- endif -%}