{%- assign schema = include.schema -%}
{% if include.collapsed %}{% include widgets/collapsed.html summary="Show table" %}{% endif %}
{%- assign path = schema.file | split: "/" -%}
{%- assign data = site.data -%}
{% for depth in path %}{%- assign data = data[depth] -%}{% endfor %}
{%- assign data = data | sort: "date" | reverse -%}
<table data-file="{{ schema.file }}">
  {% if include.filter %}<caption>{% include time/filters.html data=data year=include.year month=include.month filter=include.filter %}</caption>{% endif %}
  <thead>
    <tr>
      {% for property in schema.properties %}{% unless property[1].type == "hidden" %}<th>{{ property.title | default: property[0] }}</th>{% endunless %}
      {% endfor %}{% if include.edit %}<th>Edit</th>{% endif %}{% if include.remove %}<th>Remove</th>{% endif %}
    </tr>
  </thead>
  <tbody>
{% for item in data %}<tr data-date="{{ item.date }}" class="data">
  {% for property in schema.properties %}{% if property[0] != "timestamp" %}
  {%- assign object = nil -%}
  {% for i in item %}{%- if i[0] == property[0] -%}{%- assign object = i -%}{%- endif -%}{% endfor %}<td data-property="{{ property[0] }}" {% include time/style.html schema=schema property=object %}>{% if object[1].first %}{% for obj in object[1] %}{{ obj[1] }} {% endfor %}{% else %}
  {% if property[0] == "date" %}{% assign data = object[1] %}{% include widgets/datetime.html datetime=data decimals=1 time=schema.properties.date.time %}{% else %}{{ object[1] }}{% endif %}
  {% endif %}</td>{% endif %}{% endfor %}
  {% if item.timestamp %}{% if include.edit %}<td><a href="#{{ item.timestamp }}" class="edit">Edit</a></td>{% endif %}{% if include.remove %}<td><a href="#{{ item.timestamp }}" class="remove">Remove</a></td>{% endif %}{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% if include.collapsed %}{% include widgets/collapsed.html %}{% endif %}