form
  margin-bottom: 1em
  background-color: #f8f8f8
  // Bottom spacing
  & > :last-child
    margin-bottom: 0.8em
  // An inline element only takes up as much width as necessary
  display: inline-block
  // Headers
  h3, h4
    margin: 0.6em
  // Table rows
  & > div,
  & > div#properties div,
  .table-row
    display: table-row
    & > a
      margin: 0.2em 0.4em
  // Table cells
  label, input, select, .table-cell
    display: table-cell
    margin: 0.2em
  // Cell spacing
  .table-cell
    padding-left: 0.5em
  label
    padding: 0 0.5em 0 0.8em
    text-transform: capitalize
  input
    margin-right: 0.8em
  // Descriptions and units
  input + span,
  select + span
    font-size: smaller
    padding-left: 0.5em
    display: block
  // Buttons
  & > button
    margin-top: 0.5em
    &:first-of-type
      margin-left: 0.8em
  button:enabled, select:enabled, input:enabled
    cursor: pointer