form
  padding: 0.8em
  margin-bottom: 1em
  background-color: #f8f8f8
  // An inline element only takes up as much width as necessary
  display: inline-block
  // Edit form appear on click
  &[data-action="edit"]
    display: none
  // Header
  h3
    margin: 0 0 0.5em 0
  // Table rows
  & > div, .table-row
    display: table-row
  // Table cells
  label, input, select, .table-cell
    display: table-cell
    margin: .2em
  // Descriptions and units
  input + span,
  select + span
    font-size: smaller
    padding-left: 0.5em
  label
    padding-right: .5em
  button[type=submit]
    margin-top: .5em
  button:enabled, select:enabled, input:enabled
    cursor: pointer