// LINKS
a
  outline: none
  &:link
    color: MediumBlue
  &:visited
    color: MediumBlue
  &:hover
    text-decoration: none
  &:active
    color: transparent
  &.active
    color: Black
    text-decoration: none
  &[disabled]
    pointer-events: none
    cursor: default
    text-decoration: none
    color: unset