// TABLES
// Add cell paddings
table
  margin: 1em 0
  td, th
    padding: 0.25em 0.5em
    vertical-align: top
  th
    background-color: #f8f8f8
  &.bars
    td
      padding: 0 0.5em
      text-align: right