// TABLES
// Add cell paddings
table
  margin: 1em 0
  &.compact
    td, th
      font-size: small
      text-align: center
  td, th
    padding: 0.25em 0.5em
  th
    background-color: #f8f8f8


// For big screens
@media (min-width: $small_screen)
  table.flippable
    tr
      display: block
      float: left
      td, th
        display: block