{%- assign schema = include.schema -%}
{%- assign root_schema = schema -%}
{%- assign title = schema.title | default: schema.file -%}
{%- assign template_stack = "" | split: "" -%}
<form
  data-file="{{ schema.file }}"
  data-type="{{ schema.type }}"
  data-prevent="true">
<h3>{{ title | default: "Schema" }}</h3>
{% for property in schema.properties %}
{%- assign parent = "" | split: "" -%}
{% include schema/property.html property=property %}
{% endfor %}
{% comment %} -------------- Tiemstamp for array -------------------- {% endcomment %}
{%- if schema.type == "array" -%}<input type="hidden" id="timestamp" aria-label="timestamp" value="">{%- endif -%}
{% comment %} -------------------- Buttons -------------------- {% endcomment %}
<div class="buttons">
  <button type="submit">Submit</button> <button type="reset">Cancel</button>
</div>
</form>