{%- if include.schema -%}
{%- assign schema = include.schema -%}
{%- assign path = schema.file | split: "/" -%}
{%- assign data = site.data -%}
{% for depth in path %}{%- assign data = data[depth] -%}{% endfor %}
{%- if data -%}
{% comment %} -------------------- Data ok -------------------- {% endcomment %}
{% include schema/form.html schema=schema %}
{% include schema/table.html schema=schema collapsed=true edit=true remove=true filters=true %}
{% comment %} -------------------- Data not ok -------------------- {% endcomment %}
{%- else -%}
<mark>No data found</mark>
{%- endif -%}
{%- else -%}
<mark>No schema supplied</mark>
{%- endif -%}