{%- assign attributes = include.property[1] -%}
{%- assign id = parent | push: include.property[0] | join: "." -%}
{%- assign type = attributes.type | default: "text" -%}
{%- if type == "hidden" -%}
<input type="{{ type }}" id="{{ id }}" aria-label="{{ id | split: '.' | shift | default: id }}" value="{{ attributes.value }}">
{%- elsif type == "schema" and attributes.properties.size > 0 -%}
{%- assign parent = parent | push: id -%}
{% for p in attributes.properties %}
{% include schema/property.html property=p %}
{% endfor %}
{%- assign parent = parent | shift -%}
{%- else -%}
<div>
  {% assign capitalized_id = id | capitalize %}
  <label for="{{ id }}">{{ attributes.title | default: capitalized_id }}</label>
  {% if attributes.list %}
  <select id="{{ id }}" aria-label="{{ id | split: '.' | shift | default: id }}" type="{{ type }}">
    {% for item in attributes.list %}{% if item.first %}<option value="{{ item.value }}">{{ item.value }}</option>{% else %}<option value="{{ item }}">{{ item }}</option>{% endif %}
    {% endfor %}
  </select>
  {% else %}
    {%- assign booleans = "checkbox,radio" | split: "," -%}
    {%- assign types = "text,date,number" | split: "," -%}
    {% if types contains type %}
      <input
        type="{{ type }}"
        id="{{ id }}"
        aria-label="{{ id | split: '.' | shift | default: id }}"
        {% if attributes.value %} value="{{ attributes.value }}"{% endif %}
        {% if attributes.min %} min="{{ attributes.min }}"{% endif %}
        {% if attributes.max %} max="{{ attributes.max }}"{% endif %}
        {% if attributes.required %} required{% endif %}
        {% if attributes.step %} step="{{ attributes.step }}"{% endif %}>
    {% elsif booleans contains type %}
      <input
        type="{{ type }}"
        id="{{ id }}"
        aria-label="{{ id | split: '.' | shift | default: id }}"
        {% if attributes.required %} required{% endif %}
        {% if attributes.value %} checked{% endif %}>
        <input data-exclude="true" style="visibility:hidden;" size="0">
    {% elsif type == "color" %}
      <input
        type="{{ type }}"
        id="{{ id }}"
        aria-label="{{ id | split: '.' | shift | default: id }}"
        {% if attributes.value %} value="{{ attributes.value }}"{% endif %}
        {% if attributes.required %} required{% endif %}>
        <input data-exclude="true" style="visibility:hidden;" size="0">
    {% else %}unknow type
    {% endif %}
  {% endif %}
  {% if attributes.description or attributes.unit %}<span>{{ "" | split: "" | push: attributes.description | push: attributes.unit | join: " " | strip }}</span>{% endif %}
</div>
{%- endif -%}