{%- assign schema = include.schema -%}
{% if include.collapsed %}{% include widgets/collapsed.html summary="Show table" open=true %}{% endif %}
{%- assign data = site.data[schema.file] | sort: "date" | reverse -%}
<table data-file="{{ schema.file }}">
  {% if include.filters %}<caption>{% include time/filters.html data=data year=include.year month=include.month %}</caption>{% endif %}
  <thead>
    <tr>
      {% for property in schema.properties %}{% unless property[1].type == "hidden" %}<th>{{ property.title | default: property[0] }}</th>{% endunless %}
      {% endfor %}{% if include.edit %}<th>Edit</th>{% endif %}{% if include.remove %}<th>Remove</th>{% endif %}
    </tr>
  </thead>
  <tbody>
{% for item in data %}<tr data-date="{{ item.date }}" class="data">
  {% for property in schema.properties %}{% if property[0] != "timestamp" %}
  {%- assign object = nil -%}
  {% for i in item %}{%- if i[0] == property[0] -%}{%- assign object = i -%}{%- endif -%}{% endfor %}<td {% include time/style.html schema=schema property=object %} data-obj="{{object[1].first|inspect}}">{% if object[1].first %}{% for obj in object[1] %}{{ obj[1] }} {% endfor %}{% else %}{{ object[1] }}{% endif %}</td>{% endif %}{% endfor %}
  {% if item.timestamp %}{% if include.edit %}<td><a href="#{{ item.timestamp }}" class="edit">Edit</a></td>{% endif %}{% if include.remove %}<td><a href="#{{ item.timestamp }}" class="remove">Remove</a></td>{% endif %}{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% if include.collapsed %}{% include widgets/collapsed.html close=true %}{% endif %}