---
---

$small_screen: 40em

@import mixins
@import headings
@import forms
@import grids
@import code
@import links
@import tables
@import details
@import build

html
  overflow-y: scroll
  background: #c8c8c8

body
  font-size: 18px
  margin: 0

main
  background: White

// SCAFFOLDING
section
  padding: .5em 2em

nav, footer
  padding: .8em
  .col + .col
    text-align: right
  ul
    padding: 0
    margin: 0
    list-style: none
    font-size: small