{%- if include.schema -%}
{% assign schema = include.schema %}
{%- else -%}
{% assign schema = page.schema %}
{%- endif -%}
{%- assign default_title = schema.file -%}
{%- assign action = include.action | default: "add" -%}
<form data-file="{{ schema.file }}" data-action="{{ action }}">
<h3>{{ action | capitalize }} {{ schema.title | default: default_title }}</h3>
{% for property in schema.properties %}
{%- assign attributes = property[1] -%}
{%- assign id = property[0] -%}
{%- assign type = attributes.type | default: "text" -%}
{%- if type == "hidden" -%}
<input type="{{ type }}" id="{{ id }}" value="{{ attributes.value }}">
{%- else -%}
<div>
  {% assign default_title = id | capitalize %}
  <label for="{{ id }}">{{ attributes.title | default: default_title }}</label>
  {% if attributes.list %}
  <select id="{{ id }}" type="{{ type }}">
    {% for item in attributes.list %}{% if item.first %}<option value="{{ item.value }}">{{ item.value }}</option>{% else %}<option value="{{ item }}">{{ item }}</option>{% endif %}
    {% endfor %}
  </select>
  {% else %}
  {% case type %}
    {% when "text" or "date" or "number" or "color" %}<input type="{{ type }}" id="{{ id }}" value="{{ attributes.value }}" min="{{ attributes.min }}" max="{{ attributes.max }}"{% if attributes.required %} required{% endif %}{% if attributes.step %} step="{{ attributes.step }}"{% endif %}>
    {% else %}unknow type
    {% endcase %}
  {% endif %}
  {% if attributes.description or attributes.unit %}<span>{{ "" | split: "" | push: attributes.description | push: attributes.unit | join: " " | strip }}</span>{% endif %}
</div>
{%- endif -%}
{% endfor %}<button type="submit">Add</button>
</form>