{%- if include.schema -%}
{% assign schema = include.schema %}
{%- else -%}
{% assign schema = page.schema %}
{%- endif -%}
{% assign default_title = schema.file | capitalize %}
<h3>{{ schema.title | default: default_title }}</h3>
<form data-file="{{ schema.file }}" data-add="true" markdown="1">
{% for property in schema.properties %}
{% assign attributes = property[1] %}
{% assign id = property[0] %}
{% assign type = attributes.type | default: "text" %}
<div>
  {% assign default_title = id | capitalize %}
  <label for="{{ id }}">{{ attributes.title | default: default_title }}</label>
  {% if attributes.list %}
  <select id="{{ id }}" type="{{ type }}">
    {% for item in attributes.list %}
    <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
  </select>
  {% else %}
  {% case type %}
    {% when "text" or "date" or "number" %}<input type="{{ type }}" id="{{ id }}" value="{{ attributes.default }}" min="{{ attributes.min }}" max="{{ attributes.max }}"{% if attributes.required %} required{% endif %}>
    {% else %}unknow type
    {% endcase %}
  {% endif %}
</div>
{% endfor %}
<div>
  <button type="submit">Add</button>
</div>
</form>